window {
  background-color: #0e0d0c;
  color: #ffe9a7;
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 14px;
}

#SearchEntry {
  background-color: #1b1a19;
  color: #ffe9a7;
  border-radius: 8px;
}

.result-list > .result {
  background-color: transparent;
  color: #ffe9a7;
}

.result-list > .result:selected {
  background-color: #fbbf24;
  color: #0e0d0c;
}

